# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Custom
data_dir/openwebtext_splits_1024_eval
data_dir/openwebtext_splits_1024_train
slurm_out/*
events*
expt*
run_evaluation.sh
evaluations/*
text_json
check_step16-eval_metrics_cpu.pkl
